@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  touch-action: manipulation;
}

:root {
  --foreground-color:black;
  --background-content: #fff;
  --background-color:#F4F4F4;
  --border-radius:0px;
  font-family: "IBM Plex Sans,system-ui,-apple-system,BlinkMacSystemFont,\.SFNSText-Regular,sans-serif";
  touch-action: none;

}
:root:root{
  touch-action: none;
  --adm-font-size-main:var(--adm-font-size-6);
  font-family: "IBM Plex Sans,system-ui,-apple-system,BlinkMacSystemFont,\.SFNSText-Regular,sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #000;
    --background-content: #fff;
    --background-color:#F4F4F4;
    --border-radius:0px;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  font-size: 14px;
  font-family: "IBM Plex Sans,system-ui,-apple-system,BlinkMacSystemFont,\.SFNSText-Regular,sans-serif";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
